:root{
    --mainbgcolor:rgb(5, 50, 82);
    --secbgcolor:rgb(219, 232, 241);
    --h1text:white;
    --maintext:rgb(0, 0, 0);
    --sectext:#4b5156;
    --bordercoler:rgb(224, 219, 219);
    --themeDot:#24292e;
    --formcolor:rgb(196, 196, 195);
    --shadowcolor:rgb(5, 50, 82);
    --previewcolor:rgb(219, 232, 241);
   --previewborder:rgb(19, 80, 124,.8);
   --formbg:rgb(0, 0, 0);
   --formtextcolor:black;
   --btn:white;
}



