:root{
    --mainbgcolor:rgb(182, 214, 226);
    --secbgcolor:white;
    --h1text:rgb(0, 0, 0);
    --maintext:rgb(0, 0, 0);
    --sectext:#4b4d4e;
    --bordercoler:rgb(224, 219, 219);
    --themeDot:#24292e;
    --formcolor:rgb(196, 196, 195);
    --shadowcolor:rgb(182, 214, 226);
    --previewcolor:white;
   --previewborder:rgb(19, 80, 124,.8);
   --formbg:rgb(255, 255, 255);
   --formtextcolor:black;
   --btn:black;
   --feedercolor:rgb(0, 0, 0);
}

