:root{
    --mainbgcolor:rgb(219, 232, 241);
    --secbgcolor:rgb(5, 50, 82);
    --h1text:rgb(0, 0, 0);
    --maintext:rgb(255, 255, 255);
    --sectext:#d7dbdf;
    --bordercoler:rgb(224, 219, 219);
    --themeDot:#24292e;
    --formcolor:rgb(196, 196, 195);
    --shadowcolor:rgb(219, 232, 241);
    --previewcolor:rgb(5, 50, 82);
   --previewborder:rgb(19, 80, 124,.8);
   --formbg:rgb(255, 255, 255);
   --formtextcolor:black;
   --btn:black;
   --feedercolor:rgb(255, 255, 255);
}

a,.home{
    color:rgb(245, 241, 241);
}
